{% extends 'base.html.twig' %}

{% block title %}View habitat!{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('app_list_habitats') }}" class="fabOrangeText">Habitats</a></li>
    <li class="breadcrumb-item active">{{ habitat.displayName }}</li>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Viewing {{ habitat.displayName }} as {{ app.user.firstName }}</h1>
        <div class="row justify-content-center">
            <div class="card text-center">
                <div class="card-header">
                    MAC: {{ habitat.macAddress }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
